<!DOCTYPE html>
<html>
<head>
	<title>Password Change</title>
</head>
<body>
	<h1>Password Change</h1>
	<form method="POST" action="{{ url_for('password_change') }}">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<label for="newpassword">New Password:</label>
		<input type="password" id="newpassword" name="newpassword"><br><br>
		<input type="submit" value="Change Password">
	</form>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>