<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.username.label }} {{ form.username() }}<br><br>
      {{ form.password.label }} {{ form.password() }}<br><br>
      {{ form.submit() }}
    </form>
  </body>
</html>
